.card-wrapper {
  color: #f4f4f4;
  padding-inline: min(4vw, 3rem);

  h1 {
    margin-bottom: 1rem;
  }

  ul {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    // justify-content: space-between;
    gap: min(3vw, 2rem);
    margin: 0;
    padding: 0;

    li {
      flex: 1;
      // width: calc(20.3% - min(3vw, 2rem));
      // max-width: 18rem; 
      list-style-type: none;
    }
  }
}

.card {
  min-width: 18rem;
  color: #333;
  width: 100%;
  border-radius: 1.65rem;
  background-color: #fff;
  padding: 2.2vh min(3.5vw, 2rem);
  min-height: 23rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .logo-cover {
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
      overflow: hidden;
      border: 1px solid #f2f2f2;
      box-shadow: 0 1px 3px rgba($color: #000, $alpha: 0.1);

      // display: inline-flex;
      // align-items: center;
      // justify-content: center;
      // font-size: 1.6rem;
      // font-weight: 700;
      // color: #9b9b9b;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .btn-save {
      font-size: 0.675rem;
      gap: 0.15rem;
      display: inline-flex;
      align-items: flex-start;
      justify-content: center;
      max-height: 2.25rem;
      border-radius: 0.35rem;
      padding: 0.25rem 0.4rem;
      background-color: #fff;
      color: #9b9b9b;
      font-weight: 600;
      border: 1px solid #e3e3e3;
    }
  }

  &__middle {
    .company-name {
      display: inline-flex;
      align-items: baseline;
      justify-content: center;
      gap: 0.35rem;

      h3 {
        margin: 0;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: -0.5px;
      }

      span {
        font-size: 70%;
        color: #9b9b9b;
      }
    }

    .job-role {
      line-height: 1;
      margin-bottom: 0.5rem;

      h2 {
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: -0.5px;
      }
    }

    .tags {
      display: inline-flex;
      align-items: center;
      gap: 0.35rem;

      span {
        font-size: 0.675em;
        padding: 0.2rem 0.5rem;
        background-color: #e3e3e3;
        border-radius: 0.25rem;
      }
    }
  }

  &__bottom {
    margin-top: 2.25rem;
    padding-top: 1rem;
    border-top: 1px solid #e3e3e3;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .price-city {
      line-height: 1.125;

      h3 {
        margin: 0;
        font-size: 1.1rem;
        font-weight: 600;
        letter-spacing: -0.65px;
      }

      span {
        font-size: 0.75rem;
        color: #7c7c7c;
        letter-spacing: -0.25px;
      }
    }

    .btn-apply {
      color: #f4f4f4;
      font-size: 0.875rem;
      padding: 0.5rem 0.75rem;
      border-radius: 0.4rem;
      letter-spacing: -0.25px;
      background-color: #141414;
    }
  }
}

#rightImgContent::-webkit-scrollbar {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {}